<html>

<head>
	
	<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="/static/style.css" rel="stylesheet">
	
	<title>Tweet-2-RSS - RSS Feeds for the Twitter API</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

	<div class="navbar navbar-fixed-top top-bar">
	
		<div class="pull-left"><h1><a href='http://tweet-2-rss.appspot.com'>Tweet-2-RSS Feed Builder</a></h1></div>
		
		<div class="pull-right">
			<img src="{{ twitterUser.picture }}" />
			<p>{{ twitterUser.username }}</p>
		</div>
	
	</div>
	
	<div class="pull-right twitter-share" style="margin-top:60px;">
		<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://tweet-2-rss.appspot.com">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	</div>
	
	<section class="welcome">
	
		<div class="row-fluid">
			<div class="span12">
				<p><strong>Welcome {{ twitterUser.name }}</strong></p>
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span4 text-right">
				<p>Your Access Code is: </p>
			</div>
			<div class="span8">
			 	<span class="well">{{ userRecord.accessCode }}</span>
			 </div>
		</div>
		
		<div class="row-fluid">
			<div class="span4 text-right">
				<p>Your RSS Feed Prefix is: </p>
			</div>
			<div class="span8">
			 	<span class="well">http://tweet-2-rss.appspot.com/feed/{{ twitterUser.username }}/{{ userRecord.accessCode }}</span>
			 </div>
		</div>
		
	</section>
	
	<section class="container builder">
		<div class="row-fluid builder-desc">
			<div class="span12">
				<p>
				Feed URLs are constructed by appending the Twitter API call structure to the end of your Feed Prefix.
				The Twitter API URL syntax can be found on the <a target="_blank" href="https://dev.twitter.com/docs/api/1.1">Twitter Documentation page</a>.
				For example, if you wanted to make the API call to get a user's tweets, your Twitter URL would look like the following:
				</p>
				<div class="well">
					https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=twitterUsername
				</div>
				<p>so your Tweet-2-RSS Feed URL would look like this:</p>
				<div class="well">
					http://tweet-2-rss.appspot.com/feed/{{ twitterUser.username }}/{{ userRecord.accessCode }}/statuses/user_timeline.json?screen_name=twitterUsername
				</div>
				<p>
				The difference is that for the Twitter call you would have to include all of the OAuth headers and the response would be in JSON format. 
				The Tweet-2-RSS Feed will work without OAuth and will return in standardized RSS+XML format. You can construct your feed manually in the 
				input box or use the presets below as a starting point. 
				</p>
				<p class='text-warning'>
				This app runs on Google App Engine, which ends up not being free once enough requests are coming through. Therefore, I ask that you please keep your 
				requests limited to no more than 1,500 per day (that is about once/minute). This helps keep the cost down for me to run this app. If you would like to
				make a donation to the app, use <a href='http://gittip.com/mattedgod' target='_blank'>GitTip</a> or <a href='http://mattdodge.net/' target='_blank'>contact me</a>.
				If you do so you will be free to use the app as much as you like, otherwise I will be revoking access for users not using these guidelines. Thank you.
				</p>
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span12">
				<h2>Feed Builder</h2>
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span1">
				<p class="text-right">URL</p>
			</div>
			<div class="span9">
				<input type="text" id="feedURL" value="http://tweet-2-rss.appspot.com/feed/{{ twitterUser.username }}/{{ userRecord.accessCode }}" />
			</div>
			<div class="span2">
				<button class="btn btn-info btn-large">Test Feed</button>
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span5 offset2 popular-feeds">
				<div class="row-fluid">
					<div class="span12">
						<h3>Start With A Popular Feed</h3>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span10">
						<ul class="nav nav-tabs nav-stacked">
							<li><a feed-type="yourtimeline">Your Timeline</a></li>
							<li><a feed-type="yourtweets">Your Tweets</a></li>
							<li><a feed-type="usertweets">A User's Tweets</a></li>
							<li><a feed-type="yourmentions">Mentions of You</a></li>
							<li><a feed-type="search">Tweets Matching a Phrase</a></li>
						</ul>
					</div>
				</div>
			</div>
			
			<div class="span4 feed-parameters">
				<div class="row-fluid">
					<div class="span12">
						<h3>Parameters</h3>
					</div>
				</div>
				
				<div class="row-fluid">
					<div class="span6">
						<input type="text" placeholder="Parameter Name" id="param1" />
					</div>
					<div class="span6">
						<input type="text" placeholder="Parameter Value" id="param1val" />
					</div>
				</div>
				
				<div class="row-fluid">
					<div class="span6">
						<input type="text" placeholder="Parameter Name" id="param2" />
					</div>
					<div class="span6">
						<input type="text" placeholder="Parameter Value" id="param2val" />
					</div>
				</div>
				
				<div class="row-fluid">
					<div class="span6">
						<input type="text" placeholder="Parameter Name" id="param3" />
					</div>
					<div class="span6">
						<input type="text" placeholder="Parameter Value" id="param3val" />
					</div>
				</div>
			</div>
		</div>
		
	</section>

	<footer>
		<div class="container">
		
			<div class="row-fluid">
				<div class="span4" style="text-align: right">
					<div class="row-fluid">
						<ul class="thumbnails">
						  <li class="span7 offset3">
						  	<p><a target="_blank" href="https://github.com/mattedgod/Tweet-2-RSS">Yeah, we've got code</a></p>
						  </li>
						  <li class="span2">
						    <div class="thumbnail">
						      <a target="_blank" href="https://github.com/mattedgod/Tweet-2-RSS"><img src="/static/img/github.png" alt=""></a>
						    </div>
						  </li>
						</ul>
					</div>
				</div>
				
				<div class="span4" style="text-align: center">
					<p>Created by <a href="http://mattdodge.net">Matt Dodge</a></p>
				</div>
				
				<div class="span4" style="text-align: left">
					<div class="row-fluid">
						<ul class="thumbnails">
						  <li class="span2">
						    <div class="thumbnail">
						      <a target="_blank" href="https://www.gittip.com/mattedgod/"><img src="/static/img/beer.png" alt=""></a>
						    </div>
						  </li>
						  <li class="span7">
						  	<p><a target="_blank" href="https://www.gittip.com/mattedgod/">Buy me a beer</a></p>
						  </li>
						</ul>
					</div>
				</div>
			
		</div>
	</footer>
<script src="/static/bootstrap/js/jquery.js"></script>
<script>
$(function() {
	$('.popular-feeds li').click(function() {
		loadFeedType($(this).find('a').attr('feed-type'));
	});
	
	$('.feed-parameters input').keyup(buildFeedURL);
	
	$('.builder button').click(function() {
		window.open($('#feedURL').val(), "_blank");
	});
});

urlPrefix = "http://tweet-2-rss.appspot.com/feed/{{ twitterUser.username }}/{{ userRecord.accessCode }}/";

feedTypes = {
		yourtimeline : {
			url : 'statuses/home_timeline.json',
			params : {}
		},
		yourtweets : {
			url : 'statuses/user_timeline.json',
			params : {
				'screen_name' : '{{ twitterUser.username }}'
			}
		},
		usertweets : {
			url : 'statuses/user_timeline.json',
			params : {
				'screen_name' : ''
			}
		},
		yourmentions : {
			url : 'statuses/mentions_timeline.json',
			params : {}
		},
		search : {
			url : 'search/tweets.json',
			params : {
				'q' : 'search term'
			}
		}
};

curFeed = null;

function loadFeedType(feedType) {
	if (!feedType in feedTypes) {
		console.error(feedType + " is not configured");
		return;
	}
	
	curFeed = feedTypes[feedType];
	
	$('.feed-parameters input').val('');
	
	var i=1;
	for (paramName in curFeed.params) {
		$('.feed-parameters input#param'+i).val(paramName);
		$('.feed-parameters input#param'+i+'val').val(curFeed.params[paramName]);
		i++;
	}
	
	buildFeedURL();
}

function buildFeedURL() {
	if (!curFeed) return;
	
	paramString = "";
	
	// 3 is number of parameters, adjust if needed
	for (var i=1; i<= 3; i++) {
		paramName = $('.feed-parameters input#param'+i).val();
		
		if (paramName) {
			if (paramString.length) {
				paramString += '&';
			} else {
				paramString += '?';
			}
			
			paramString += paramName;
			paramString += '=';
			paramString += $('.feed-parameters input#param'+i+'val').val()
		}
	}
	
	$('#feedURL').val(urlPrefix + curFeed.url + encodeURI(paramString)).scrollLeft(10000);
}
</script>
	
</body>

</html>